html {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif; 
	background-color: #f0f0f0;
}

body p {
	line-height: 1.5em;
}

header {
	background-color: #007bff;
	text-align: center;
	padding: 0.5em;
}

header h1 {
	color: white;
}

header nav {
	padding-bottom: 0.5em;
}

header nav a {
	text-decoration: none;
	padding: 0 0.5em;
	color: white;
}

header nav a:hover {
	color: #353535;
}

section {
	background-color: white;
	border-radius: 0.35em;
	color: #353535;
	padding: 1em;
	margin: 0.75em 5em;
	box-shadow: 0 0 1em #ccc;
}

section h2 {
	text-align: center;
}

section p {
	text-align: justify;
}

section div {
	display: flex;
	flex-direction: row;
}

section div div {
	flex-direction: column;
	width: 33%;
	padding: 1em;
	margin: 0 1em 1em 0;
	border-radius: 0.35em;
}

section div div:last-child {
	margin-right: 0;
}

section#about div div {
	background-color: #e8ecef;
}

section#services div div {
	background-color: #f8f9fb;
}

section#services div div h3 {
	color: #007bff;
}

footer {
	color: white;
	text-align: center;
	background-color: #353942;
	padding: 1em;
}

footer p {
	margin: 0;
}

footer div {
	margin-top: 1em;
}

footer div a {
	text-decoration: none;
	padding: 0 0.5em;
	color: white;
}

footer div a:hover {
	color: #007bff;
}

@media (max-width: 960px) {
	section div {
		flex-direction: column;
	}
	section div div {
		margin: 0 0 1em 0;
		width: auto;
	}
}

@media (max-width: 640px) {
	section {
		margin: 0.75em 0.25em;
	}
}